.container {
    width: 100%;
    max-width: 785px;
    position: relative;
    z-index: 1;

    @media screen and (max-width: 1680px) {
        max-width: 1085px;
    }

    @media screen and (max-width: 1280px) {
        max-width: 785px;
    }

    @media screen and (max-width: 960px) {
        max-width: 600px;
    }

    @media screen and (max-width: 690px) {
        max-width: 480px;
        display: flex;
        flex-direction: column;
    }

    @media screen and (max-width: 520px) {
        max-width: 330px;
    }
}

.carousel {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);

    @media screen and (max-width: 690px) {
        position: relative;
        display: flex;
        transform: translate(0, 0);
        width: 100%;
    }

}

.contentContainer {
    margin-left: 198px;
    width: 100%;
    max-width: 588px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 60px 49px 52px 133px;
    box-sizing: border-box;
    background-color: #FBF6EF;
    border: 1px solid #000;

    @media screen and (max-width: 1680px) {
        max-width: 888px;
        padding-left: 160px;
        gap: 15px;
    }

    @media screen and (max-width: 1280px) {
        max-width: 588px;
        padding-left: 133px;
        gap: 0;
    }

    @media screen and (max-width: 960px) {
        max-width: 430px;
        padding: 40px 20px 30px 90px;
    }

    @media screen and (max-width: 690px) {
        max-width: 480px;
        padding: 20px 20px 30px 20px;
        margin-left: 0;
    }
}

.title {
    margin: 0 0 18px 0;
    padding: 0;
    color: #002B45;
    font-family: 'Lora';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @media screen and (max-width: 960px) {
        font-size: 22px;
    }
}

.subtitle {
    color: #002B45;
    font-family: 'Open-Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 45px;

    @media screen and (max-width: 960px) {
        font-size: 15px;
    }

    @media screen and (max-width: 520px) {
        margin-bottom: 25px;
    }
}

.pricesContainer {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @media screen and (max-width: 960px) {
        margin-bottom: 15px;
    }
}

.priceContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.priceContainerEconomy {
    align-self: flex-start;
}

.priceContainerStandard {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    padding-left: 5px;
    padding-right: 5px;
}

.priceContainerPremium {
    align-self: flex-end;
}

.priceName {
    color: #002B45;
    font-family: 'Open-Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;

    @media screen and (max-width: 960px) {
        font-size: 15px;
    }
}

.price {
    color: #002B45;
    font-family: 'Open-Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 960px) {
        font-size: 15px;
    }
}

.itemLength {
    color: #7C7C7C;
    font-family: 'Open-Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 45px;

    @media screen and (max-width: 960px) {
        font-size: 15px;
        margin-bottom: 25px;
    }
}

.itemLengthNumber {
    color: #7C7C7C;
    font-family: 'Open-Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;

    @media screen and (max-width: 960px) {
        gap: 8px;
    }
}

.buttonDetails {
    width: 161px;
    height: 58px;
    font-size: 16px;

    @media screen and (max-width: 960px) {
        height: 40px;
        font-size: 14px;
    }
}

.buttonPrice {
    height: 58px;
    width: 229px;
    font-size: 16px;

    @media screen and (max-width: 960px) {
        height: 40px;
        font-size: 14px;
    }
}