.container {
    width: 100%;
    max-width: 785px;
    position: relative;
    z-index: 1;
}

.carousel {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);

}

.contentContainer {
    margin-left: 198px;
    width: 100%;
    max-width: 588px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 58px 48px 54px 133px;
    box-sizing: border-box;
    background-color: #FBF6EF;
    border: 1px solid #000;
}

.title {
    color: #002B45;
    font-family: Lora;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
}

.subtitle {
    color: #002B45;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 48px;
}

.pricesContainer {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.priceContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.priceContainerEconomy {
    align-self: flex-start;
}

.priceContainerStandard {
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    ;
}

.priceContainerPremium {
    align-self: flex-end;
}

.priceName {
    color: #002B45;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.price {
    color: #002B45;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.itemLength {
    color: #7C7C7C;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 46px;
}

.itemLengthNumber {
    color: #7C7C7C;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.buttonDetails {
    width: 161px;
    height: 58px;
}

.buttonPrice {
    height: 58px;
    width: 229px;
}